.container {
  border: 2px solid red;
  width: fit-content;
}

.card_top {
  background-color: #ff8c66;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card_bottom {
  background-color: #1d2049;
  color: #fff;
  padding: 2em;
}

.card_bottom p {
    font-size: 56px;
}

.card_bottom_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
