.container {
    border: 2px solid red;
    width: fit-content;
    margin: 2em;
}

.card_top {
    background-color: #FF8C66;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card_bottom {
    background-color: #1D2049;
    color: #fff;
}

.card_bottom_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}