.container {
  width: 300px;
}

.card_top {
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
}

.card_top > img {
  display: block;
  margin-right:0;
  margin-left: auto;
  height: 4em;
  padding: 0.3em;
  
}

.card_bottom {
  background-color: #1d2049;
  color: #fff;
  padding: 2em;
  border-radius: 1.3em;
  transform: translateY(-1em);
  transition: 0.3s ease-in;
}
.card_bottom:hover {
  background-color: #33387a;
}

.card_bottom span {
  font-size: 56px;
}

.card_bottom_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.card_bottom_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
