.container {
  display: flex;
  width: 1440px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  padding: 2em;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 2rem;
    padding-left: 2em;
}