@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

.container {
  width: fit-content;
  font-family: "Rubik", sans-serif;
}

.profile_content {
  background-color: #5847eb;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title_container {
  display: block;
  margin: 25px;
}

.title {
  font-size: 3em;
  text-align: left;
  width: 300px;
  font-weight: 200;
  color: #fff;
  margin: 0;
}

.subtitle {
  font-size: 1em;
  font-weight: 200;
  text-align: left;
  opacity: 80%;
  color: #fff;
  margin: 0;
}

img {
  margin: 25px;
  height: 100px;
  width: 100px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.profile_option {
  background-color: #1c1f4a;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: -25px;
  z-index: 1;
}

button {
  background-color: transparent;
  color: gainsboro;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 100;
  padding: 5px;
}
button:hover {
  color: orange;
}

@media screen (min) {
  
}
